<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index-local-zz.php [QSA,L]
    DirectoryIndex index-local-zz.php index.html site-down.html
</IfModule>